$main-bg: #fff;
$main-font: Roboto, sans-serif;
$main-font-weight: 300;


$light-purple: #C3A6D3;
$dark-purple: #39006E;

@function purple($alpha) {
  @return rgba(84, 0, 129, $alpha);
}

@function navy-blue($alpha) {
  @return rgba(0, 4, 110, $alpha);
}

@function dark-blue($alpha) {
  @return rgba(0, 2, 152, $alpha);
}

$gray: rgb(77, 77, 77);
$gray-128: rgb(128, 128, 128);
$gray-191: rgb(191, 191, 191);
$gray-243: rgb(243, 243, 243);

$green: rgb(3, 181, 10);
$green-85: rgba(3, 181, 10, 0.85);
$green-15: rgba(3, 181, 10, 0.15);
$dark-green: rgb(44, 142, 45);

$red: rgb(218, 23, 23);


@function solid-color($color) {
  /* Convert a rgba color to rgb. This has been simplified
   * assuming a white background (but it is possible to handle
   * backgrounds of any color).
   *
   * r, g, b are assumed to be in the range [0, 255]
   * alpha is assumed to be in the range [0, 1]
   */
  $r: red($color) / 255.0;
  $g: green($color) / 255.0;
  $b: blue($color) / 255.0;
  $a: alpha($color);

  $solid-r: ((1 - $a) + ($a * $r)) * 255;
  $solid-g: ((1 - $a) + ($a * $g)) * 255;
  $solid-b: ((1 - $a) + ($a * $b)) * 255;

  @return rgb($solid-r, $solid-g, $solid-b);
}


@mixin linear-gradient($deg, $color-stops...) {
  background: -webkit-linear-gradient(legacy-angle($deg), $color-stops);
  background: -moz-linear-gradient(legacy-angle($deg), $color-stops);
  background: -o-linear-gradient(legacy-angle($deg), $color-stops);
  background: -ms-linear-gradient(legacy-angle($deg), $color-stops);
  background: linear-gradient($deg, $color-stops);
}

@function legacy-angle($deg) {
  @return abs($deg - 450) % 360deg;
}

@mixin anim($name, $param) {
  -webkit-animation: $name $param;
  -moz-animation: $name $param;
  -o-animation: $name $param;
  animation: $name $param;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column() {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-box-direction: normal;
  -ms-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex($grow, $shrink: null, $basis: null) {
  @if $grow == none {
    $grow: 0;
    $shrink: 0;
    $basis: auto;
  }

  -webkit-box-flex: $grow;
  -webkit-flex: $grow $shrink $basis;
  -moz-box-flex: $grow;
  -moz-flex: $grow $shrink $basis;
  -ms-box-flex: $grow;
  -ms-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin transform($param) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  transform: $param;
}

@mixin appearance($param) {
  -webkit-appearance: $param;
  -moz-appearance: $param;
  appearance: $param;
}

@mixin transition($param...) {
  -webkit-transition: $param;
  -moz-transition: $param;
  -o-transition: $param;
  transition: $param;
}
