@import 'common';


/* Link color to use on light backgrounds. */
$dark-link-color: dark-blue(1);

/* Header height for small screens. */
$small-header-height: 42px;

/* Border to draw around the main section. */
@mixin border-main() {
  border-top: 2px solid dark-blue(1);
}

/* Link(s) with the "active" class. */
@mixin active-link() {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

@mixin active-link-white() {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
