@import 'common';
@import 'layout';

@media(min-width: 62rem) {
  /* Welcome page elements. */
  .bottom-feature {
    display: none;
  }

  .top-feature {
    display: block;
  }
}

@media(max-width: 62rem) {
  .wallet-address-search {
    padding-top: 1rem;
  }
}


/* small: reduce header height and paddings. */
@media(max-width: 48rem) {

  header {
    height: $small-header-height;
    min-height: $small-header-height;
  }

  ul li {
    padding-top: 0;
    margin-top: 1rem;
  }


  .logo-bg {
    height: $small-header-height;
  }

  .logo-bg .button {
    width: 3.5rem;
  }

  .logo-small svg {
    height: $small-header-height;
    width: 26px;
  }

  .right-logo {
    left: 3.5rem + 2rem;
  }

  .right-logo .thin {
    top: 9px;
    font-size: 1.5rem;
  }

  .right-logo a {
    top: 0.8rem;
  }

  .right-logo a,
  .right-logo a:hover,
  .right-logo a:focus,
  .right-logo .active {
    border-color: transparent;
  }

  .right-logo .active {
    font-weight: 400;
  }

  .site-content {
    background-color: $light-purple;
    @include linear-gradient(154deg, navy-blue(0.35) 0%, purple(0.35) 100%);
    background-color: purple(0.2);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    background-attachment: scroll;
  }

  .welcome-header,
  .welcome-feature {
    padding-top: 0;
    color: white;
    text-shadow: none;
  }

  .welcome-feature {
    margin-top: 1.5rem;
  }

  .release-tag {
    display: none;
  }

  .site-content {
    padding: 2rem 4rem;
  }

  .user-table .hide-small,
  .pendingtx .hide-small {
    display: none;
  }

  .export-label:before {
    content: attr(data-small-label);
  }

  .convert-switch button {
    margin-top: 2rem;
  }

  .footer {
    padding-left: 4rem;
  }
}


@media(max-width: 767px) {  /* 48rem - 1px */

  .sm-margin-top {
    margin-top: 1rem;
  }

  .sm-margin-bottom {
    margin-bottom: 1rem;
  }

}


/* very small (mobile) */
@media(max-width: 32rem) {

  /* Hide links except the active one. */
  .menu-links a {
    display: none;
  }
  .menu-links .active {
    display: inline;
  }

  /* Show the mobile menu button. */
  .show-tiny {
    display: block;
  }

  .menucontainer .horizmenu {
     padding: 0.6rem 0;
  }

  .site-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .site-content.user,
  .footer.user,
  .footer {
    padding: 1.5rem;
  }

  .footer {
    padding-left: 1rem;
  }

  .site-content.user {
    padding-top: 2.5rem;
  }

  .site-content.invoice-content {
    padding-left: 0;
    padding-right: 0;
  }


  .welcome-header,
  .welcome-feature {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .welcome-header h2 {
    font-size: 1.25rem;
  }

  .loginarea {
    padding: 0 1rem 1rem 1rem;
  }

  .loginarea .title-3,
  .loginarea .title-4 {
    display: none;
  }

  .loginarea .user-tabs {
    padding-top: 0;
  }

  .loginarea .user-tabs a {
    border-radius: 0;
  }

  .loginarea .info-box,
  .loginarea .error-box {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: -1rem;
  }


  .site-content .title-1 {
    font-size: 2rem;
    min-height: 2.5rem;
  }

  .site-content .title-4 {
    font-size: 1.15rem;
  }

  .site-content ul {
    font-size: 1rem;
  }


  .qr-container {
    padding-left: 0;
    padding-right: 0;
  }


  .user-table {
    width: 100%;
  }


  .user-table, .user-table thead, .user-table tbody,
  .user-table th, .user-table td, .user-table tr {
    display: block;
  }

  .user-table thead tr {
    display: none;
  }

  .user-table tbody tr {
    padding: 1rem 0;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 0.8rem;
  }

  .user-table tbody tr:hover {
    border-left-width: 1px;
    border-color: purple(1);
  }

  .user-table tbody td {
    padding: 0.5rem 1rem;
    text-align: right;
  }

  .user-table tbody .txid {
    text-align: center;
  }

  .user-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: 500;
    padding-right: 1rem;
  }

  .pendingtx .user-table caption {
    padding-left: 0;
    min-width: 12rem;
  }

  .pendingtx .user-table tbody tr {
    padding: 0.25rem 0;
  }

  .pendingtx .user-table tbody td {
    padding: 0.5rem 0.5rem;
  }

  .user-table tbody td.pendingtx-action {
    text-align: right;
  }

  .pendingtx-action a {
    display: inline;
  }

  .pendingtx-action a:first-child {
    margin-right: 0.5rem;
  }

  .footer .right-bottom {
    right: 1rem;
    bottom: 0;
  }

}
